---
layout: archive
title: "People"
permalink: /people/
---

<h2>
  Current Lab Members
</h2>

<div class='people'>
  {% for p in site.data.people.current %}
    <div class='person'>
      {% if p.image %}
        <img class='person--image' src='{{ p.image }}'>
      {% else %}
        <span class='person--image'>🦄</span>
      {% endif %}

      <div class='person--name'>
        {% if p.site %}
          <a href='{{ p.site }}' target='_blank'>{{ p.name }}</a>,
        {% else %}
          {{ p.name }},
        {% endif %}
        <span class='person--title'>{{ p.title }}</span>
      </div>

      {% if p.blurb %}
        <div class='person--blurb'>
          {{ p.blurb }}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>

<h2>
  Former Members
</h2>

<div class='people'>
  {% for p in site.data.people.former %}
    <div class='person'>
      {% if p.image %}
        <img class='person--image' src='{{ p.image }}'>
      {% else %}
        <span class='person--image'>🦄</span>
      {% endif %}

      <div class='person--name'>
        {% if p.site %}
          <a href='{{ p.site }}' target='_blank'>{{ p.name }}</a>,
        {% else %}
          {{ p.name }},
        {% endif %}
        <span class='person--title'>{{ p.title }}</span>
      </div>

      {% if p.blurb %}
        <div class='person--blurb'>
          {{ p.blurb }}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
