---
layout: archive
title: "People"
permalink: /people/
---

<h2>
  Current Lab Members
</h2>

<div class='people'>
  {% for p in site.data.people.current %}
    <div class='person'>
      {% if p.image %}
        <img class='person--image' src='{{ p.image }}'>
      {% else %}
        <span class='person--image'>🦄</span>
      {% endif %}

      <div class='person--name'>
        {% if p.site %}
          <a href='{{ p.site }}' target='_blank'>{{ p.name }}</a>
        {% else %}
          {{ p.name }}
        {% endif %}
      </div>
      <div class='person--title'>{{ p.title }}</div>
    </div>
  {% endfor %}
</div>

<h2>
  Former Members
</h2>

<div class='people'>
  {% for p in site.data.people.former %}
    <div class='person'>
      {% if p.image %}
        <img src='{{ p.image }}'>
      {% else %}
        <img src="/images/bio_photo.jpg">
      {% endif %}

      <div class='person--name'>
        {% if p.site %}
          <a href='{{ p.site }}' target='_blank'>
            {{ p.name }}
          </a>
        {% else %}
          {{ p.name }}
        {% endif %}
      </div>

      <div class='person--title'>
        {{ p.title }}
      </div>
    </div>
  {% endfor %}
</div>
